<section id="addNote">
  <h3>Add note</h3>
  <form id="addnote-form">
    <input type="text" name="note[title]" placeholder="Title">
    <input type="text" name="note[body]" placeholder="Content">
    <input type="number" name="note[health]" placeholder="Health Rating">
    <input type="number" name="note[work]" placeholder="Work Rating">
    <input type="number" name="note[play]" placeholder="Play Rating">
    <input type="number" name="note[love]" placeholder="Love Rating">
    <button type="submit">Add Note</button>
  </form>
</section>

{{#each notes as |note|}}
  {{log note}}
{{/each}}
