<div data-id="{{place.id}}">
  <section id="updatePlace-template">
    <h3>Update Place</h3>
    <form>
      <input type="text" name="place[title]" placeholder="Title">
      <input type="text" name="place[address]" placeholder="Address">
      <input type="text" name="place[city]" placeholder="City">
      <input type="text" name="place[country]" placeholder="Country">
      <input type="text" name="place[place_id]" placeholder="place_id">
      <button type="submit">Update Place</button>
    </form>
  </section>
</div>
